<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>nCovi19 Stat</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/scrollbar-custom.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>

<body style="background-color:#dee2e6;">
    <div class="navbar navbar-default" style="background-color:#dee2e6;">
        <div class="container">
            <div class="navbar-header">
                <div class="logo"><a href="/" class="navbar-brand"><img src="images/spring-logo.png" border="0" title="nCoV19 Stats"></a>
                </div>                
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="/#"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="margin-top:10px; margin-bottom:10px; text-align: left">                
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <!--  This is the main tab  -->
            <div class="col-md-8">
                <div class="container-iner">
                    <div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
                    <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
                        <span>Last updated: </span><span th:text="${TimeGotTheData}"></span>
                    </div>
                    <div style="margin-top:20px; text-align:center; font-size:14px">
                        <a href="/#"> </a><a href="/#">Graphs</a> - <a href="/#">Countries</a> - <a href="/#">Death
                            Rate</a> - <a href="/#">Symptoms</a> - <a href="/#">Incubation</a> -<strong>
                        </strong><strong> </strong><a href="/#">Transmission</a> - <a href="/#">News</a>
                    </div>
                    <div id="maincounter-wrap" style="margin-top:15px">
                        <h1>Coronavirus Cases:</h1>
                        <div class="maincounter-number">
                            <span style="color:#DC3545" th:text="${totalCaseReported}"></span>
                        </div>
                    </div>
                    <div id="maincounter-wrap" style="margin-top:15px">
                        <h1>Today Cases:</h1>
                        <div class="maincounter-number">
                            <span style="color: #FFC107;" th:text="${totalNewCaseReported}"></span>
                        </div>
                        <a class="btn btn-info btn-sm"
                            href="https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
                            role="button" target="_blank">Visit CSSEGI</a>
                        <hr>
                    </div>
                </div>
            </div>
            <!--  This is the map field  -->
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <th style="color:#d40a0a">Country (Top 10)</th>
                        <th style="color:#d40a0a">Today</th>
                    </tr>
                    <tr th:each="top10CasesStat : ${top10CasesStats}">
                        <td th:text="${top10CasesStat.country}"></td>
                        <td th:text="${top10CasesStat.diffFromYesterday}">0</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="label-counter" id="page-top">All</div>
                <div class="card example-1 square scrollbar-cyan" style="background-color:#dee2e6;">
                    <table class="table">
                        <tr>
                            <th>Country (All)</th>
                            <!--                        <th>State</th>-->
                            <th>Total cases</th>
                            <th>Today</th>
                        </tr>
                        <tr th:each="locationStat : ${locationStats}">
                            <td th:text="${locationStat.country}"></td>
                            <!--                        <td th:text="${locationStat.state}"></td>-->
                            <td th:text="${locationStat.latestTotalCases}">0</td>
                            <td th:text="${locationStat.diffFromYesterday}">0</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="label-counter" id="page-top">Less</div>
                <table class="table">
                    <tr>
                        <th style="color:#03db44">Country (Top Fighter)</th>
                        <th style="color:#03db44">Today</th>
                    </tr>
                    <tr th:each="top10RecoverStat : ${top10RecoverStats}">
                        <td th:text="${top10RecoverStat.country}"></td>
                        <td th:text="${top10RecoverStat.diffFromYesterday}">0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div style="margin-top:20px; margin-bottom:40px; text-align: center">
<!--                <div class="label-counter" id="page-top">COVID-19 Coronavirus Charts</div>-->
            </div>
        </div>
    </div>


</body>

</html>